*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(img/fondo4.jpg);
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed;
}
.form-register{
    width: 400px;
    background: #4188d4;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: calibri;
    color: white;
    box-shadow: 7px 13px 37px #000;
}
.form-register h4{
    font-size: 22px;
    margin-bottom: 20px;   
}
.controls {
    width: 100%;
    background: #eaf1fb;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    border: 1px solid #000;
    font-family: Calibri;
    font-size: 14px;
    color: black;
}
.form-register p{
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}
.form-register a{
    color: white;
    text-decoration: none;  
}
.form-register a:hover{
    color: white;
    text-decoration: underline;  
}
.form-register .botons{
    width: 340px;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}
